<a href="https://colab.research.google.com/github/raos130/raos130.github.io/blob/master/SimranRao_03_assign_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
song_names = ['in my feelings', 'one dance', 'zero to one hundred', 'gods plan']

---

### 1) What are the types of the following variables?

In [80]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'steve': 'marino', 'bobby': 'flats'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

In [85]:
# A:

# a = int
# b = float
# c = list
# d = dict
# e = tuple
# f = dict
# g = bool
# h = bool
# i = str

print (type(a))
print (type(b))
print (type(c))
print (type(d))
print (type(e))
print (type(f))
print (type(g))
print (type(h))
print (type(i))

<class 'int'>
<class 'float'>
<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'dict'>
<class 'bool'>
<class 'bool'>
<class 'str'>

---

### 2) What is the difference between a "mutable" and an "immutable" object?

In [ ]:
# A: A mutable object can be changed after it's created, and an immutable object can't.

---

### 3) Print the `song_names` list.

In [ ]:
# A:
song_names = ['in my feelings', 'one dance', 'zero to one hundred', 'gods plan']

print(song_names)

['in my feelings', 'one dance', 'zero to one hundred', 'gods plan']

---

### 4) Print the names of the first and last song on the list.

In [86]:
# A:
song_names = ['in my feelings', 'one dance', 'zero to one hundred', 'gods plan']

print (song_names[0])

in my feelings

---

### 5) Print the first five names in the `song_names` list.

In [60]:
# A:
song_names.append('hotline bling')
song_names.append('controlla')
song_names.append('passionfruit')
song_names.append('signs')
song_names.append('take care')
song_names.append('energy')


print (song_names[0:5])

['in my feelings', 'one dance', 'zero to one hundred', 'gods plan', 'hotline bling']

---

### 6) Combine the ninth and 10th song names into a single string, separated by a space. Assign that string to a variable.

In [70]:
# A:
d = (song_names[8])
e = (song_names[9])
f = d + " " + e
print(f)

take care energy

---

### 7) Append an animal to the list of animals.

In [ ]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [ ]:
# A:
animals.append('moose')

In [ ]:
print(animals)

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'moose']

---

### 8) Print the length of the `animals` list.

In [32]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [ ]:
# A:
len(animals)

6

---

### 9) Divide the length of the fifth animal by the second.

In [41]:
# A:
g = len(animals[5])
b = len(animals[2])
print (int(g/b))

1

---

### 10) Perform the same division, but ensure the output is a decimal number.

In [40]:
# A:
g = len(animals[5])
b = len(animals[2])
print (g/b)

1.75

---

### 11) Demonstrate two different ways to combine the `animals` list and the `numbers` list.

In [88]:
numbers = [0., 0.1, 1., 10., 100., 1000.]

In [89]:
# A:
numbers.append(animals)
print(numbers)

[0.0, 0.1, 1.0, 10.0, 100.0, 1000.0, ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']]

In [90]:
animals + numbers

['duck',
 'rat',
 'boar',
 'slug',
 'mammoth',
 'gazelle',
 0.0,
 0.1,
 1.0,
 10.0,
 100.0,
 1000.0,
 ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']]

---

### 12) Remove `'kiefer'` from the list and insert your own name in its place.

In [91]:
names = ['doug', 'billy', 'kiefer', 'kian', 'sam']

In [92]:
# A:
names.remove('kiefer')
print(names)

['doug', 'billy', 'kian', 'sam']

In [93]:
names.append('jim')
print(names)

['doug', 'billy', 'kian', 'sam', 'jim']

---

### 13) Count the number of times `0` appears in the following list.

In [94]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [95]:
# A:
binary.count(0)

16

---

### 14) Create an SF (San Francisco) zip code dictionary.

With the following key-value pairs:

    'sunset':94122
    'presidio':94129
    'soma':94105
    'marina':94123

In [ ]:
# A:
SF = {
'sunset':94122,
'presidio':94129,
'soma':94105,
'marina':94123
}

print(SF)

{'sunset': 94122, 'presidio': 94129, 'soma': 94105, 'marina': 94123}

---

### 15) Get the zip code for `'soma'` and assign it to a variable.

In [ ]:
# A:
x = (SF['soma'])
print (x)

94105

---

### 16) Get the keys out of the dictionary.

In [ ]:
# A:
list(SF.keys())

['sunset', 'presidio', 'soma', 'marina']

---

### 17) Get the key-value pairs out of the dictionary as a list of tuples.

In [ ]:
# A:
list = [(k, v) for k, v in SF.items()] 
print(list)

[('sunset', 94122), ('presidio', 94129), ('soma', 94105), ('marina', 94123)]

---

### 18) Add The Castro to the dictionary with the zip code 94114.

In [46]:
# A:
SF = {
'sunset':94122,
'presidio':94129,
'soma':94105,
'marina':94123
}

SF['The Castro'] = 94114
print(SF)

{'sunset': 94122, 'presidio': 94129, 'soma': 94105, 'marina': 94123, 'The Castro': 94114}

---

### 19) Combine the following smaller dictionary of districts with the SF zip code dictionary.

In [48]:
small = {'outer_richmond':94121, 'dogpatch':94107}

In [49]:
# A:
z = SF.update(small)
print(SF)

{'sunset': 94122, 'presidio': 94129, 'soma': 94105, 'marina': 94123, 'The Castro': 94114, 'outer_richmond': 94121, 'dogpatch': 94107}

---

### 20) Remove the `'sunset'` zip code and assign it to a variable.

In [75]:
# A:
SF = {
'sunset':94122,
'presidio':94129,
'soma':94105,
'marina':94123,
'The Castro': 94114,
'outer_richmond': 94121,
'dogpatch': 94107

}

x = (SF.pop('sunset'))
print(SF)

{'presidio': 94129, 'soma': 94105, 'marina': 94123, 'The Castro': 94114, 'outer_richmond': 94121, 'dogpatch': 94107}